:root {
    --color: rgba(0, 0, 0, 1);
    --size: 14px; 
}
body {
    background: #fff;
}
div#searchPage {
    font-size:var(--size);
    color:var(--color);
}
div#searchPage div:empty {
    display: block;
}

@media (min-width: 576px) {
    .cust-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .cust-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .cust-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .cust-container {
        max-width: 1140px;
    }
}

@media (min-width: 1500px) {
    .cust-container {
        max-width: 1200px;
    }
}

.cust-container {
    width: 100%;
    margin: 0 auto;
}

.serch-outer.diamond-search {
    padding: 30px 0;
}

.search-header .title {
    font-size: 30px;
    color: #000;
}

.search-header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.diamond-search .search-options {
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 115px;
}

.diamond-search .option-title {
    margin: 0 0 20px;
    color:#000;
    font-size:var(--size);
}

.diamond-search .search-options .inner-search-options .shapes ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.diamond-search .search-options .inner-search-options .shapes ul li {
    cursor: pointer;
    width: auto;
}

.diamond-search .search-options .inner-search-options .shapes ul li .icon {
    font-size: 38px;
}

.diamond-search .hidden {
    display: none !important;
}

.diamond-search .search-options .inner-search-options .shapes ul li .text {
    cursor: pointer;
    margin-top: 10px;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
}

.diamond-search .search-options .inner-search-options .shapes ul li .text {
    opacity: 0;
} 

.diamond-search .search-options .inner-search-options .shapes ul li.active .text {
    opacity: 1;
}

.diamond-search .search-options .inner-search-options .shapes ul li:hover .text {
    opacity: 1;
}

.range-area {
    display: flex;
    flex-wrap: wrap;
}

.range-area .half-parent {
    width: 46%;
    flex-direction: column;
    margin: 10px 2%;
}

.half-parent {
    display: flex;
}

.range-area .half-parent>label {
    font-weight: 600;
    font-size: 120%;
}

.range-area input,
.range-area label {
    border: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 30%;
    text-align: initial;
}

.range-area .slider-box {
    width: 100%;
    margin: 25px auto;
}

.diamond-search .search-options .inner-search-options .shapes ul li .icon img {
    filter: brightness(0);
    cursor: pointer;
}

/* SLider css */
.rc-slider-rail {
    background-color: var(--color);
    height: 7px;
    border-radius: 0;
    opacity: 0.5;
}

.rc-slider-track {
    background-color: var(--color);
    height: 6px;
}

.rc-slider-handle {
    width: 17px;
    height: 17px;
    border: solid 5px var(--color);
}

.rc-slider-handle:hover, .rc-slider-handle-click-focused:focus {
    border-color: var(--color);
}

.rc-slider-handle:active {
    border-color: var(--color);
    box-shadow: 0 0 5px var(--color);
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: var(--color);
    box-shadow: none;
}

.inner-range-options {
    width: 48%;
}

.range-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.rc-slider-tooltip-inner {
    padding: 0 10px;
    min-width: auto;
    height: 34px;
    font-size: 14px;
    color: var(--color);
    text-decoration: none;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border: 2px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
    display: none;
}

.rc-slider-tooltip-placement-top {
    padding: 0;
    top: -33px !important;
}

.value-box input:focus {
    outline: none;
}


.value-box input {
    margin: 30px 0 10px 0;
    padding: 10px;
    border: 1px solid #E8E8E8;
    line-height: 1.2;
    color: var(--color);
    max-width: 95px;
    text-align: center;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}

.value-box .value-span {
    margin: 30px 0 10px 0;
    padding: 10px 25px;
    border: 1px solid #E8E8E8;
    color: #000;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
}

.value-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rc-slider-dot {
    bottom: -3px;
    width: 2px;
    height: 8px;
    border: none;
    border-radius: 0;
}
ul.steps-labels {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

.value-box p {
    font-size: 13px;
    color: #9c9c9c;
    MARGIN-BOTTOM: 8px;
    font-weight: 500;
}

.advance-header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 40px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}


.advance-header p {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advance-header p svg {
    margin-left: 6px;
    font-size: 20px;
}

.advance-container .range-options {
    align-items: baseline;
}

.diamond-search-tab-view .react-tabs__tab {
    padding: 12px 18px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.diamond-search-tab-view .react-tabs__tab--selected {
    background: #FAFAFA;
    border-color: transparent;
    color:var(--color);
}

.diamond-search-tab-view .react-tabs__tab-list {
    border-bottom: none;
    margin: 0;
}

.diamond-search-tab-view .react-tabs__tab:focus {
    box-shadow: none;
    border-color: transparent;
    outline: none;
}

.diamond-search-tab-view table tr th {
    width: 140px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0px 10px 0;
}

.diamond-search-tab-view .compare-checkbox-wrap {
    line-height: 0;
    position: relative;
    top: 1px;
}

.diamond-search-tab-view .compare-checkbox-wrap input[type="checkbox"]+label {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #e9e9e9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

.diamond-search-tab-view .compare-checkbox-wrap input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: auto;
    background: white;
}

.diamond-search-tab-view .compare-checkbox-wrap input[type="checkbox"]+label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    display: inline-block;
    transform: rotate(45deg);
    height: 10px;
    width: 4px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.diamond-search-tab-view .compare-checkbox-wrap input[type="checkbox"]:checked+label::before {
    background: var(--color);
}

.diamond-search-tab-view .compare-checkbox-wrap input[type="checkbox"]:checked+label {
    border-color: var(--color);
}

.diamond-search-tab-view table tr td, .diamond-search-tab-view table tr th {
    padding: 10px 0px 10px 10px;
    border: none;
    color: #000;
}

.diamond-search-tab-view thead.rc-table-thead {
    background: #FAFAFA;
}

.diamond-search-tab-view tr:nth-child(odd) {
    background: #FAFAFA;
}

.diamond-search-tab-view table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    box-shadow: none;
}

.diamond-search-tab-view td.rc-table-cell.rc-table-cell-row-hover {
    background: rgba(0, 0, 0, 0.2);
}
.cust-data-table svg{
    margin:auto;
    display:block;
    background:none;
}
.table-info{
background:#fff;
}
.option-title,.Polaris-Label__Text{
    font-size:16px;
}
.table-info-outer .table-info {
    width: 30%;
}

.table-info-outer .rc-table {
    width: 70%;
}

.table-info-outer {
    display: flex;
    justify-content: space-between;
}

.table-info-inner ul {
    padding: 0 0 0 20px;
}

.table-info-inner ul li {
    list-style: none;
    font-size: 15px;
    padding-bottom: 10px;
    color: #000;
}

.table-info-inner h4 {
    font-weight: 600;
    font-size: 18px;
    background: #fafafa;
    padding: 16px 10px;
    text-align: center;
    color: var(--color);
    margin-top: 0px;
    
}
.diamond-info{
    display:flex;
}
.info-left{
    width:48%;
    float:left;
    padding:10px;
}
.info-right{
    width:48%;
    float:right;
    padding:10px;
}
.btn-outer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-outer a {
    width: 100%;
    color: var(--color);
    font-size: 20px;
}
.btn-outer .cust-btn {
    background: var(--color);
    color: #fff;
    text-decoration: none;
    padding: 7px 30px;
    width: 45%;
    margin: 0px 0 20px;
    font-size: 18px;
}
.rc-table-content {
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color);
  }
    .color-slider .rc-slider-tooltip, .clarity-slider .rc-slider-tooltip, .polish-slider .rc-slider-tooltip, .symmetry-slider .rc-slider-tooltip, .cut-slider .rc-slider-tooltip  {
        display: none !important;
    }
    .rdt_TableCell,.rdt_TableCol {
            padding: 0 5px !important;
    }

/* MEDIA CSS */
@media(max-width: 767px) {
    .range-options {
        flex-wrap: wrap;
    }

    .inner-range-options {
        width: 100%;
    }

    .diamond-search .search-options .inner-search-options .shapes ul li {
        width: calc(100% / 5);
        flex-grow: 0;
        margin-bottom: 30px;
    }

    .diamond-search .search-options .inner-search-options .shapes ul {
        flex-wrap: wrap;
    }

    .diamond-search .search-options .inner-search-options .shapes ul li .text {
        opacity: 1 !important;
    }

    .diamond-search-tab-view .rc-table-content {
        overflow-x: scroll;
    }

    .diamond-search-tab-view table tr td, .diamond-search-tab-view table tr th {
        padding: 15px 25px;
    }

    .table-info-outer .table-info, .table-info-outer .rc-table {
        width: 100%;
    }

    .table-info-outer {
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .cust-container {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

}

@media(max-width: 390px) {
    .diamond-search .search-options .inner-search-options .shapes ul li {
        width: calc(100% / 3);
    }
}
.model-outer{
    position: relative;
    margin: auto;
    padding: 40px 60px;
    width: 100%;
    max-width: 800px;
    background: white;
    box-sizing: border-box;
    
}
.model-title{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 40px;
    text-align:center;
}
.model-image{
    float: left;
    display:flex;
    width:100%;
    max-width: 30%;  
}
.model-image img{
    height: auto;
    max-width: 100%;
}
.model-table{
    max-width: 69%;
    display:flex;
    width:100%;
    float: right;
    margin-bottom:20px;
}
.model-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    box-shadow: none;
}
.model-table table tr td {
    padding: 0 0 8px 8px;
}
.model-form{
    float: left;
    width:100%;  
}
.model-form input {
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    height: 50px;
    line-height: 1.5;
    padding: 0 10px;
    width: 100%;
}
.model-form .col-6{
    float: left;
    width:50%;  
    padding: 15px 15px 15px 0px;
}
.model-form .col-12{
    float: left;
    width:100%;  
    padding: 15px 15px 15px 0px;
}
.model-form textarea {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-size: 14px;
    height: 120px;
    width:100%;
}
.model-form .cust-btn {
    background: var(--color);
    color: #fff;
    text-decoration: none;
    padding: 7px 30px;
    width: 100%;
    max-width:250px;
    margin: auto 20px;
    font-size: 18px;
    display:block;
}
.btn-outer{
    text-align:center;
    width:100%;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 9999;
}
body.ReactModal__Body--open {
    overflow-y: hidden !important
}
.cust-loader {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.Polaris-Page {
    margin: 0 ;
    max-width: 40%;
    
}
.Polaris-Layout {
    display: block;
}
.admin-range {
    width: 99%;
}